@model CONEXAOQR.Models.GestaoLeads

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>GestaoLeads</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dtEntrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtEntrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qtdContato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qtdContato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtPrimeiraVisita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtPrimeiraVisita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tempoEntrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tempoEntrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bandB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bandB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bandA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bandA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bandN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bandN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bandD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bandD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.etapaLEAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.etapaLEAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.etapaATENDIMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.etapaATENDIMENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.etapaAGENDAMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.etapaAGENDAMENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.etapaVISITA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.etapaVISITA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.etapaPROPOSTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.etapaPROPOSTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.etapaVENDA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.etapaVENDA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.observacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.observacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtCadastro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilialId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilialId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.midiaOrigem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.midiaOrigem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisitasId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitasId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SituacaoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SituacaoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CanalAtracao.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CanalAtracao.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JustContato.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JustContato.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CanalComunicacao.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CanalComunicacao.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JustAvanco.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JustAvanco.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoImoveis.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoImoveis.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoContato.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoContato.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empresa.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Filial.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Filial.nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
