@model IEnumerable<CONEXAOQR.Models.GestaoLeads>

@{
    ViewBag.Title = "Gestão de Leads";
    Layout = "~/Views/Shared/_LayoutTheme.cshtml";
}
    <link href="~/Scripts/templete/assets/css/material-dashboard.min.css?v=2.1.2" rel="stylesheet" />
    <body id="page-top">

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title ">LEADS</h4>
                                <p class="card-category">  @Html.ActionLink("Cadastrar novo Lead", "Create")</p>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <tr>
                                                <th>
                                                    Nome
                                                </th>
                                                <th>
                                                    Data de Entrada
                                                </th>
                                                <th>
                                                    Canal de Atração
                                                </th>
                                                <th>
                                                    Funil
                                                </th>
                                                <th>
                                                    Ações
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                            <tr>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.nome)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.dtEntrada)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CanalAtracao.nome)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.observacao)
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Editar", "Edit",  new { id = item.Id }) |
                                                    @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                                                    @Html.ActionLink("Deletar", "Delete", new { id = item.Id })

                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </body>