@model CONEXAOQR.Models.FaseEtapaFunil

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FaseEtapaFunil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EtapaFunilId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EtapaFunilId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EtapaFunil.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EtapaFunil.nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
