@model CONEXAOQR.Models.Filial

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutTheme.cshtml";
}


<style type="text/css">
    .text-xs {
        font-size: 13px !important;
    }

    .text-info {
        color: #858796 !important;
    }
</style>

<body id="page-top">

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title"><i class="material-icons">person</i> &nbsp;&nbsp;Filial</h4>
                            <p class="card-category">Dados cadastrais</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table-upgrade">
                                <hr />
                                <dl>
                                    <dt>
                                        Nome da Filial:
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.nome)
                                    </dd>
                                    <dt>
                                        Empresa
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Empresa.nome)
                                    </dd>
                                    <dt>
                                        Gerente
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.gerente)
                                    </dd>

                                    <dt>
                                        Telefone
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.telefone)
                                    </dd>

                                    <dt>
                                        Endereço
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.endereco)
                                    </dd>

                                    <dt>
                                        E-mail
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.email)
                                    </dd>

                                    <dt>
                                        MQL - POSSUI PRÉ - ATENDIMENTO?
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.mqi)
                                    </dd>

                                    <dt>
                                        CRM
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.crm)
                                    </dd>

                                    <dt>
                                        SITE
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.site)
                                    </dd>


                                </dl>
                            </div>
                            <br />

                            <table class="table">
                                <tr>
                                    <td class="text-left">
                                        <div class="card-body">
                                            <a href="/Filials/Index" class="btn btn-round btn-fill btn-default">
                                                <span class="text">Voltar</span>
                                            </a>

                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<!--@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |-->
