@model IEnumerable<CONEXAOQR.Models.Filial>

@{
    ViewBag.Title = "Index";
     Layout = "~/Views/Shared/_LayoutTheme.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gerente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mqi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.crm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.site)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RedesSociais.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empresa.nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gerente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endereco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mqi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.crm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.site)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RedesSociais.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empresa.nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
