@model CONEXAOQR.Models.Usuario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutTheme.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoPessoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoPessoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.observacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.observacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empresa.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Filial.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Filial.nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
