@model CONEXAOQR.Models.Empresa

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutTheme.cshtml";
}


<style type="text/css">
    .text-xs {
        font-size: 13px !important;
    }

    .text-info {
        color: #858796 !important;
    }
</style>

<body id="page-top">

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title"><i class="material-icons">person</i> &nbsp;&nbsp;EMPRESA</h4>
                            <p class="card-category">Dados cadastrais</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table-upgrade">
                                <table class="table">
                                    <tr>

                                        <td>
                                            <div class="card-body">
                                                <div class="row">
                                                    <b style="color:orangered">Nome:</b>&nbsp; @Html.DisplayFor(model => model.nome)
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <b>CNPJ:</b>&nbsp; @Html.DisplayFor(model => model.cnpj)
                                        </td>
                                        <td>
                                            <b>E-MAIL:</b>&nbsp; @Html.DisplayFor(model => model.email)
                                        </td>
                                        <td>
                                            <b>TELEFONE:</b>&nbsp; @Html.DisplayFor(model => model.telefone)
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <b>ENDEREÇO:</b>&nbsp; @Html.DisplayFor(model => model.endereco)
                                        </td>
                                        <td>
                                            <b>NOME FANTASIA:</b>&nbsp;@Html.DisplayFor(model => model.nomeFantasia)
                                        </td>
                                        <td>
                                            <b>GERENTE:</b>&nbsp;@Html.DisplayFor(model => model.gerente)
                                        </td>
                                        <td>
                                            <b>DIRETOR:</b>&nbsp; @Html.DisplayNameFor(model => model.diretor)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>MQI:</b>&nbsp;@Html.DisplayFor(model => model.mqi)
                                        </td>
                                        <td>
                                            <b>CRM:</b>&nbsp; @Html.DisplayFor(model => model.crm)
                                        </td>
                                        <td>
                                            <b>SITE:</b>&nbsp;  @Html.DisplayFor(model => model.site)
                                        </td>
                                        <td>
                                            <b>SEGUIMENTO:</b>&nbsp; @Html.DisplayFor(model => model.TipoNegocio.nome)
                                        </td>
                                    </tr>

                                </table>

                                <br />

                                <table class="table">
                                    <tr>
                                        <td class="text-left">
                                            <div class="card-body">
                                                <a href="/Empresas/Index" class="btn btn-round btn-fill btn-default">
                                                    <span class="text">Voltar</span>
                                                </a>

                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body> 
        
