@model CONEXAOQR.Models.PiramideSucesso

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PiramideSucesso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.meta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ir)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.obj1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.obj1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.obj2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.obj2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.obj3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.obj3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.obj4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.obj4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.obj5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.obj5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.atitude1_obj1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.atitude1_obj1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.atitude2_obj1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.atitude2_obj1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.atitude3_obj1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.atitude3_obj1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.atitude4_obj1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.atitude4_obj1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.atitude5_obj1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.atitude5_obj1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.atitude1_obj2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.atitude1_obj2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.atitude2_obj2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.atitude2_obj2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.atitude3_obj2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.atitude3_obj2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.atitude4_obj2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.atitude4_obj2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.atitude5_obj2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.atitude5_obj2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.atitude1_obj3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.atitude1_obj3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.atitude2_obj3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.atitude2_obj3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.atitude3_obj3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.atitude3_obj3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.atitude4_obj3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.atitude4_obj3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.atitude5_obj3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.atitude5_obj3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.atitude1_obj4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.atitude1_obj4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.atitude2_obj4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.atitude2_obj4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.atitude3_obj4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.atitude3_obj4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.atitude4_obj4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.atitude4_obj4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.atitude5_obj4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.atitude5_obj4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.atitude1_obj5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.atitude1_obj5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.atitude2_obj5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.atitude2_obj5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.atitude3_obj5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.atitude3_obj5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.atitude4_obj5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.atitude4_obj5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.atitude5_obj5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.atitude5_obj5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtCriacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtCriacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtUltimoUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtUltimoUpdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.metaBatida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.metaBatida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.observacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.observacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codValidado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codValidado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codUsuarioValidou)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codUsuarioValidou)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codUsuarioCriou)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codUsuarioCriou)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empresa1.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa1.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.tipoPessoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.tipoPessoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpresaSet.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpresaSet.nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
