@model IEnumerable<CONEXAOQR.Models.Corretor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTheme.cshtml";
}



<link href="~/Scripts/templete/assets/css/material-dashboard.min.css?v=2.1.2" rel="stylesheet" />
<body id="page-top">

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-success">
                            <h4 class="card-title ">Corretores</h4>
                            <p class="card-title ">@Html.ActionLink("Cadastrar Pessoas", "Create")</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                        <tr>
                                            <th>
                                               Nome
                                            </th>
                                            <th>
                                                Telefone
                                            </th>
                                            <th>
                                               Empresa
                                            </th>
                                            <th>
                                                Filial
                                            </th>
                                            <th></th>
                                        </tr>

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.nome)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.telefone)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Filial.nome)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Empresa.nome)
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                                                    @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                                </td>
                                            </tr>
                                        }


                                        </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
